*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #615f5f;
  outline: none;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  outline: none;
}






.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  
}

.title::before {
  content: "";
  width: 170px;
  height: 3px;
  background: #ffc32d;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
}

.title-small {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: #000000;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #615f5f;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  height: 80px;
  
  z-index: 999;
  padding: 7px 0 7px 0;
}
.header__active {
  background: #444444;
}


.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
          /* padding: 0 15px 0 0; */
  /* margin-top: 3px; */
       
        /* padding-top: 15px; */
}

.header__nav-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  
  
}
.header__item {
  padding: 0;
  margin: 0;
  margin-right: 30px;
  border-bottom: 1px solid transparent;
}
.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  outline: none!important;
  padding-bottom: 0px;
  /* border-bottom: 1px solid transparent; */
  
}

.header__link-active {
  
  padding-bottom: 0px;
    border-bottom: 1px solid #ffc32d;
}

/* .header__list .active a{

  border-bottom: 2px solid #ffc32d;

} */

.header__link:hover {
  color: #ffc32d;
  /* opacity: 0.75; */
}
/* .header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
} */

.header__burger {
  display: none;
  width: 40px;
  height: 24px;
  position: relative;
  margin-right: 2px;
}



.header__logo-linksmall{
display: none;

}
.header__logo-linksmall img{
  
}

.header__logo-linkbig{
display: block;
}
.header__logo-linkbig{
display: block;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

/* Intro styles start */

.intro {
  height: 750px;
  width: auto;
  background: url(/images/header-bg-min.jpg) no-repeat top;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  padding-top: 250px;
  /* padding-top: 285px; */
}

.intro__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  color: #fff;
}

.intro__video {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
 
}



.intro__video-arrow {
  margin-right: 20px;
}

.intro__video-arrow path {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.intro__video:hover path{
  fill: #000;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* .intro__video-arrow path:hover {
  fill: #000;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
} */

.intro__video-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

/* about */
.about{
  padding-top: 150px;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 2, 1;
      -ms-flex-positive: 2, 1;
          flex-grow: 2, 1;
  
  
}
.about__inner-content {
  /* width: 60%; */
  margin-right: 100px;
}
.about__title {
  margin-bottom: 80px;
  position: relative;
  text-align: left;
}

.about__title::before {
  content: "";
  width: 170px;
  height: 3px;
  background: #ffc32d;
  position: absolute;
  left: 90px;
  bottom: -10px;
}

.about__text {
  margin-bottom: 80px;
  max-width: 570px;
  text-align: justify;
}
.about__btn {
  display: inline-block;
  padding: 30px 48px;
  background: #ffc32d;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  transition: all 0.2s ease-in-out;
}
.about__btn:hover {
  background: #000;
  color: #ffc32d;
  
  transition: all 0.2s ease-in-out;
}
.about__inner-img img {
  /* width: 40%; */
  height: 560px;
  width: auto;
}

/* work */
.work{
  padding-top: 180px;
}
.work__title {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1, 1;
      -ms-flex-positive: 1, 1;
          flex-grow: 1, 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* margin-bottom: 180px; */
}
.work__item {
  width: 20%;
  text-align: center;
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0;
}
.work__item-circle {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: #f6f6f6;
  margin: 0 auto;
  margin-bottom: 33px;
}
.work__item-img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}
.work__item-title {
  margin-bottom: 25px;
}

/* project */
.project{
  padding-top: 180px;
  
}

.project__title {
  margin: 0 auto;
  margin-bottom: 80px;
  width: 50%;
}
.project__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1, 1;
      -ms-flex-positive: 1, 1;
          flex-grow: 1, 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 115px;
}
.project__gallery-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* width: 50%; */

  margin-left: 25px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
          
}

.gallery{
  
  overflow: hidden !important;
  margin: 5px 7px;
  
  
}





.img-big {
  max-height: 360px;
  width: auto;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
 
  
}
.img-big:hover{
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.img-small {
  max-height: 300px;
  width: auto;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  
  
}
.img-small:hover{
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.project__gallery-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* width: 50%; */
  margin-right: 25px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}








/* contact */

.contact {
  background: #ffc32d;
  padding-top: 80px;
  margin-top: 80px;
}
.contact__title {
  
  margin-bottom: 65px;
}
.contact__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
flex-wrap: wrap;
  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form {
  
  margin-bottom: 70px;
}
.name {
  min-width: 240px;
  text-decoration: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(246, 246, 246, 0.5);
  padding: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;

  margin-right: 85px;
  margin-bottom: 20px;
}

input.name::-webkit-input-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.name::-moz-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.name:-ms-input-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.name::-ms-input-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.name::placeholder {
  color: rgba(97, 95, 95, 0.6);
}

.phone {
  min-width: 240px;
  text-decoration: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid rgba(246, 246, 246, 0.5);
  padding: 7px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-right: 85px;
}
input.phone::-webkit-input-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.phone::-moz-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.phone:-ms-input-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.phone::-ms-input-placeholder {
  color: rgba(97, 95, 95, 0.6);
}

input.phone::placeholder {
  color: rgba(97, 95, 95, 0.6);
}
.submit {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: inline-block;
  padding: 17px 30px;
  border: none;
  background: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background: #000;
  color: #ffc32d;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact__policy{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}



.contact__policy-text{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
text-align: center;
color: #333333;
}

.contact__policy-link {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
text-align: center;
cursor: pointer;
color: #333333;
border-bottom: 1px dashed #FFFFFF;
margin-left: 4px;

}


.contact__policy-link:hover {
  color: rgba(51, 51, 51, 0.6);
  
}


/* .submit__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0px 30px 0px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.submit__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: 000;
  text-align: center;
  margin-bottom: 80px;
} */



/* .fancybox-content {
  background: #ffc32d;
} */

.animated-modal {
  max-width: 1000px;
  border-radius: 4px;
  overflow: hidden;
  
  -webkit-transform: translateY(-50px);
  
      -ms-transform: translateY(-50px);
  
          transform: translateY(-50px);
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}

.animated-modal h2,
.animated-modal p {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  
  -webkit-transition-property: opacity, -webkit-transform;
  
  transition-property: opacity, -webkit-transform;
  
  -o-transition-property: transform, opacity;
  
  transition-property: transform, opacity;
  
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: .4s;
       -o-transition-duration: .4s;
          transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  -webkit-transition-delay: .1s;
       -o-transition-delay: .1s;
          transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
  -webkit-transition-delay: .3s;
       -o-transition-delay: .3s;
          transition-delay: .3s;
}

/* advantages */
.advantages{
padding-top: 130px;
margin-bottom: 30px;
}
.advantages__title {
  /* margin-top: 130px; */
  margin-bottom: 85px;
}
.advantages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1, 1;
      -ms-flex-positive: 1, 1;
          flex-grow: 1, 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  position: relative;
  margin-right: 80px;
  margin-bottom: 35px;
}

.advantages__item-block {
  min-width: 333px;
}

.advantages__item-title {
  margin-bottom: 22px;
}
.advantages__item-circle {
  min-width: 140px;
  min-height: 140px;
  border-radius: 100%;
  background: #f6f6f6;
  margin-right: 30px;
  margin-bottom: 80px;
}
.advantages__img {
  position: absolute;
  left: 35px;
  top: 30px;
}

/* Faq */

.faq {
  background: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 90px;
}

.accordion__item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  /* border-bottom: 1px solid rgba(48, 76, 87, 0.2); */
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.accordion__title {
  margin-bottom: 80px;
  margin-top: 80px;
}
.accordion__item-title {
  cursor: pointer;
  padding: 10px 10px 10px 35px;
  position: relative;
  
}

.accordion__item-title:after {
  content: url("/images/triangle.png");
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  left: 0;
}

.accordion__item-title.show:after {
  content: url("/images/triangle2.png");
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -2px;
}

.accordion__text {
  display: none;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  padding: 10px 10px 10px 35px;
}

/* our contacts */
.our-contacts{
  padding-top: 150px;
  
}

.our-contacts__title {
  text-align: center;
  margin-bottom: 80px;
  
  position: relative;
}

.our-contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1, 1;
      -ms-flex-positive: 1, 1;
          flex-grow: 1, 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 80px;
}
.our-contacts__item {
  width: 20%;
  text-align: center;
  margin-right: 30px;
  position: relative;
}
.our-contacts__item:last-child {
  margin-right: 0;
}
.our-contacts__item-circle {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: #f6f6f6;
  margin: 0 auto;
  margin-bottom: 33px;
}
.our-contacts__item-img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  top: 0;
  top: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}
.our-contacts__item-title {
  margin-bottom: 25px;
  
}
.our-contacts__item-text span{
  border-bottom: 1px solid #ffc32d;
  transition: all 0.3s;
}
a.our-contacts__item-text:hover span {
  color: #ffc32d;
  transition: all 0.3s;
}

/* footer */
.footer {
  background: #444444;
  
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          padding: 7px 0 7px 0;
}


/* .footer__text {
  
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border-bottom: 1px solid #FFC32D;
  
  padding-bottom: 0px;
  cursor: pointer;
  padding-top: 15px;
  transition: all 0.3s;
}
.footer__text:hover{
  color: #FFC32D;
  transition: all 0.3s;
} */
.footer__link {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
a.footer__social {
  
  margin-right: 15px;
  border-radius: 100%;
}
a.footer__social:last-child{
  margin-right: 0px;
}
.footer__social img{
  width: 32px;
  height: 32px;
}
.footer__logo{
  width: 33.33333%;
}
.footer__logo-link{
  display: block;
}
    .footer__logo-linksmall{
      display: none;
    }

/* footer policy */


 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */

  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px 15px 10px 15px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  
}

/* The Close Button */

.close {
  display: block;
  padding: 20px 20px;
  background: #ffc32d;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  
  transition: all 0.2s ease-in-out;
}

.close:hover,
.close:focus {
  background: #000;
  color: #ffc32d;
    transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
} 
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}  */

.policy__window-title{
  
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #000;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    
    
 
}

.policy__window-text{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  
}

.textarea{
  width: 100%;
  height: 405px;
  border: transparent;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background: rgba(0, 0, 0, 0.015);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2); */
  text-align: justify;
  
  resize: none;
  margin-bottom: 30px;
 
}





/* 404 */

.error {
}
.error__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error__inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__inner-block p {
  font-family: Montserrat;

  font-weight: 600;

  font-size: 300px;
  line-height: 366px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}
.error__inner-block img {
  width: 500px;
  height: 500px;
}
.error__inner-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}
.error__btn {
  padding: 25px 50px;
  background: #ffc32d;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}



/* zoom popup */




.mfp-bg{
  background: #F6F6F6;
opacity: 0.93;
}


#small-dialog {
	background: #ffc32d;
	padding: 20px 30px;
	text-align: center;
	max-width: 900px;
	margin: 0px auto;
	position: relative;
}



.submit__title{
  font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
text-transform: uppercase;
color: #000000;
  
  padding: 80px 136px 30px 136px;
  
}

.submit__text{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
padding-bottom: 80px;
}

.hidden{
  display: none;
}


.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	transform: scale(0.8); 
}


.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-ms-transform: scale(1); 
	transform: scale(1); 
}


.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}


.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}






/* Media */
@media (max-width: 1250px){
.work__inner {
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 0px;
    
  }
  .project{
    padding-top: 150px;
    margin: 0;
  }
  
}
  


@media (max-width: 1200px) {
  .about__inner-content {
    
    margin-right: 20px;
  }
  .advantages__item-block {
    min-width: 300px;
    padding-left: 20px;
  }
  .project__title {
    width: 70%;
  }

  .project__gallery-left {
    margin-left: 50px;
    }
  .project__gallery-right {
    margin-right: 50px;
     }

  .img-big {
    max-height: 320px;
    width: auto;
    
  }
  .img-small {
    max-height: 263px;
    width: auto;
    
  }
}

@media (max-width: 1100px) {
  .advantages__item-block {
    min-width: 300px;
    padding-left: 20px;
  }
  .project__title {
    width: 70%;
  }

  /* .img-big {
    max-height: 310px;
    width: auto;
    padding: 5px;
  }
  .img-small {
    max-height: 258px;
    width: auto;
    padding: 5px;
  } */
  .our-contacts__item-title{
    font-size: 19px;
  }
  .our-contacts__item-circle {
    
    margin-bottom: 10px;
  }
  /* .our-contacts__item-title {
   
    font-size: 19px;
    margin-bottom: 15px;
  } */
}

@media (max-width: 1002px) {
  .header {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    
  }
  .header__burger {
    display: block;
  }
  .header__nav-box {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #333232;
    /* background: #615f5f; */
    z-index: 10;
    padding: 130px 50px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    
  }
  .header__nav-box-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
            
  }
  .header__wrapper {
   padding-top: 8px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            
  }
  .header__item {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
   

  }

 
  .header__item:last-child {
    margin-bottom: 0;
    
  }
  .header__link-active {
    border-bottom: transparent;
  }
  .header__link {
    font-size: 25px;
    
  }

  
  .header__logo-linksmall{
    display: block;
    
    }
    
    
    .header__logo-linkbig{
    display: none;
    }
    

  .header__nav-close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }

  .advantages__item-circle {
    margin-right: 10px;
    margin-bottom: 80px;
  }

  .advantages__item-block {
    min-width: 260px;
    padding-left: 15px;
  }

  .about__title {
    margin-bottom: 50px;
  }

  .about__inner-content {
    margin-right: 50px;
  }

  .about__text {
    margin-bottom: 40px;
  }
  .about__inner-img img {
    height: 460px;
  }

  .project__title {
    width: 70%;
  }
  .project__gallery-left {
    margin-left: 55px;
    }
  .project__gallery-right {
    margin-right: 55px;
     }

     .img-big {
      max-height: 280px;
      width: auto;
      
    }
    .img-small {
      max-height: 228px;
      width: auto;
      
    }
.footer__logo-link{
  display: none;
}
    .footer__logo-linksmall{
      display: block;
    }
    .footer__text{
      font-size: 12px;
    }
}

@media (max-width: 958px){
  .intro {
    padding-top: 200px;
    
  }
}



@media (max-width: 930px) {
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .about__inner-content {
    width: 100%;
    margin-right: 0px;
    text-align: center;
  }
  .about__title {
    margin-bottom: 80px;
    position: relative;
    text-align: center;
  }
  
  .about__title::before {
    content: "";
    width: 170px;
    height: 3px;
    background: #ffc32d;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -10px;
  }
  
  .about__text {
    margin-bottom: 80px;
    min-width: 100%;
    padding: 0 15px;
    text-align: justify;
  }
  .about__btn {
    display: inline-block;
    padding: 30px 48px;
    background: #ffc32d;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    
  }
  
  .about__inner-img img {
    display: none;
  }
  .work{
    padding-top: 100px;
  }
  /* .form {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  .name {
    
    margin-right: 55px;
    margin-bottom: 20px;
  }
  .phone {
    
    margin-right: 55px;
  } */
}

@media (max-width: 900px) {
  
  .about__inner-img img {
    height: 360px;
  }
  

  .work__item-circle {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    background: #f6f6f6;
    margin: 0 auto;
    text-align: center;
    
    margin-right: 35px;
    margin-bottom: 33px;
  }
  .work__item-img {
    position: absolute;
    margin: 0 auto;
    top: 25px;
    left: 58px;
    
    z-index: 3;
  }
  .work__item-img img{
    width: 50px;
    height: 50px;
    
  }
  .work__item-title {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .work__item-text {
    text-align: left;
    width: 100%;
  }
  .img-big {
    max-height: 240px;
    width: auto;
    
  }
  .img-small {
    max-height: 195px;
    width: auto;
    
  }
  .contact__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  flex-wrap: wrap;
   
            justify-content: center;
    
  }
   .contact__title {
    width: 70%;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 65px;
  }

  .name {
    max-width: 205px;
    padding: 5px;
    
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .phone {
    max-width: 205px;
    padding: 5px;
    
    margin-right: 20px;
  }
  .advantages__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1, 1;
        -ms-flex-positive: 1, 1;
            flex-grow: 1, 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin-bottom: 30px;
  }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    position: relative;

    margin: 0 auto;
    margin-right: 0px;
    margin-bottom: 45px;
  }

  .advantages__item-title {
    margin-bottom: 12px;
  }

  .advantages__item-circle {
    min-width: 100px;
    min-height: 100px;
    border-radius: 100%;
    background: #f6f6f6;
    margin-right: 10px;
    margin-bottom: 40px;
  }

  .advantages__img {
    position: absolute;
    left: 26px;
    top: 23px;
  }
  img.advantages__img {
     width: 50px;
    height: 50px;
  }

 
  

  .advantages__item-block {
    width: 100%;
    padding-left: 15px;
  }

  .our-contacts__title {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 0px;
    position: relative;
  }
  
  .our-contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1, 1;
        -ms-flex-positive: 1, 1;
            flex-grow: 1, 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 80px;
  }
  .our-contacts__item {
    width: 25%;
    text-align: center;
    margin-right: 30px;
    position: relative;
  }
  .our-contacts__item-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our-contacts__item:last-child {
    margin-right: 0;
  }
  .our-contacts__item-circle {
    max-width: 100px;
    max-height: 100px;
    
    margin-bottom: 33px;
  }
  .our-contacts__item-img {
    position: absolute;
    margin: 0 auto;
    
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }
  .our-contacts__item-img img {
    width: 50px;
    height: 50px;
  }
  .our-contacts__item-title {
    font-size: 19px;
    margin-bottom: 15px;
  }

  .policy__window-title{
    font-size: 20px;
  }
  .footer__social img{
    width: 30px;
    height: 30px;
  }

}

@media (max-width: 880px){
  .work__item-circle {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    background: #f6f6f6;
    margin: 0 auto;
    text-align: center;
    
    margin-right: 35px;
    margin-bottom: 33px;
  }
  .work__item-img {
    position: absolute;
    margin: 0 auto;
    top: 25px;
    left: 53px;
    
    z-index: 3;
  }
}
@media (max-width: 870px){
  
  .work__item-img {
    position: absolute;
    margin: 0 auto;
    top: 25px;
    left: 50px;
    
    z-index: 3;
  }
}


@media (max-width: 855px) {
  .work__title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }

  .work__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1, 2;
        -ms-flex-positive: 1, 2;
            flex-grow: 1, 2;
    padding: 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0px;
  }

  .work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    
  }
  .work__item-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }

  .work__item:last-child {
    margin-right: 0;
  }
  .work__item-circle {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    background: #f6f6f6;
    margin: 0 auto;
    text-align: center;
    
    margin-right: 35px;
    margin-bottom: 33px;
  }
  .work__item-img {
    position: absolute;
    margin: 0 auto;
    top: 25px;
    left: 50px;
    
    z-index: 3;
  }

  .img-big {
    max-height: 220px;
    width: auto;
    
  }
  .img-small {
    max-height: 178px;
    width: auto;
    
  }
  .project{
    padding-top: 100px;
    margin: 0;
  }
  
  .name {
    min-width: 210px;
    text-decoration: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(246, 246, 246, 0.5);
    padding: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000;

    margin-right: 55px;
  }

  .phone {
    min-width: 210px;
    text-decoration: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid rgba(246, 246, 246, 0.5);
    padding: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin-right: 55px;
  }
  .policy__window-title{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;

    margin: 0 auto;
    /* width: 80%; */
    
  }
  .submit__title{
    font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
    margin: 0 auto;
    padding: 80px 10px 30px 10px;
    
  }
  .our-contacts__inner {
    
    margin-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .img-big {
    max-height: 200px;
    width: auto;
    
  }
  .img-small {
    max-height: 161px;
    width: auto;
    
  }
}

@media (max-width: 785px){
  .our-contacts__item-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@media (max-width: 773px){
  .form {
  text-align: center;
    margin-bottom: 90px;
  }
  .name {
    
    margin-right: 25px;
    margin-bottom: 20px;
  }
  .phone {
    margin-bottom: 20px;
    margin-right: 25px;
  }

}

@media (max-width: 750px) {
  .about__inner-img img {
    /* height: 300px;
    width: auto; */
  }
  .about__inner-content {
    margin-right: 0px;
  }
  .img-big {
    max-height: 190px;
    width: auto;
    
  }
  .img-small {
    max-height: 153px;
    width: auto;
    
  }
  .project__title {
    width: 100%;
  }
  .contact {
    background: #ffc32d;
  }
  .contact__title {
    padding-top: 80px;
    margin-bottom: 65px;
  }
  .contact__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .name {
    margin-right: 25px;
  }

  .phone {
    margin-right: 25px;
  }
  .accordion__item-title {
    cursor: pointer;
    padding: 10px 10px 10px 35px;
    position: relative;
    font-size: 20px;
  }
  .our-contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1, 1;
        -ms-flex-positive: 1, 1;
            flex-grow: 1, 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px;
  }
  .our-contacts__item {
    width: 45%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
    position: relative;
    margin-bottom: 30px;
  }
  .our-contacts__item:last-child {
    margin-right: 10px;
  }
  .our-contacts__item-circle {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: #f6f6f6;
    margin: 0 auto;
    margin-bottom: 33px;
  }
  
  .our-contacts__item-title {
    margin-bottom: 10px;
  }

  .our-contacts__item-text span{
    border-bottom: 1px solid #ffc32d;
    transition: all 0.3s;
  }
  a.our-contacts__item-text:hover span {
    color: #ffc32d;
    transition: all 0.3s;
  }
  
}
@media (max-width: 713px){
  .name {
    margin-left: 35px;
    margin-right: 45px;
    margin-bottom: 45px;
  }
}

@media (max-width: 700px) {
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .about__inner-content {
    margin-right: 0px;
    text-align: center;
  }
  .about__title {
    margin-bottom: 40px;
    text-align: center;
  }

  .about__title::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -10px;
  }

  .about__text {
    margin-bottom: 40px;
    width: 100%;
    text-align: justify;
  }

  .about__inner-img img {
    height: 600px;
    width: 600px;
    margin-bottom: 30px;
  }

  .project__title {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 80px;
    width: 50%;
  }
  .project__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* flex-wrap: wrap; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1, 1;
        -ms-flex-positive: 1, 1;
            flex-grow: 1, 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 115px;
  }
  
  .project__gallery-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    -webkit-box-pack: center;

        -ms-flex-pack: center;
margin-left: 0px;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .img-big {
    max-height: 360px;
    width: auto;
    
  }
  .img-small {
    max-height: 300px;
    width: auto;
    
  }
  .project__gallery-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;

        margin-right: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}

@media (max-width: 661px) {
  .about__inner-img img {
    max-width: 99%;
    height: auto;
  }
  
  .contact__title {
    padding-top: 80px;
    margin-bottom: 65px;
  }
  .contact__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    margin-bottom: 90px;
    text-align: center;
  }
  .name {
    margin-right: 45px;
    margin-bottom: 45px;
  }

  .phone {
    margin-right: 25px;
  }
 
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            padding: 7px 0 7px 0;
  }
  /* .footer__logo{
    width: 20%;
  }
  .footer__link {
    width: 20%;
  }
  .footer__text{
    margin: 0 auto;
  } */
  .textarea{
    text-align: left;
  }
}





@media (max-width: 620px){
  .work__item-circle {
    min-width: 100px;
    min-height: 100px;
    margin: 0 auto;
    margin-right: 20px;
    margin-bottom: 45px;
  }
  .work__item-title {
    
    margin-bottom: 10px;
  }
}
@media (max-width: 615px){
  .contact__policy-link{
    padding-top: 5px;
  }
}
@media (max-width: 600px) {
  
    .intro {
      padding-top: 220px;
      
    }
  
  .intro__title {
    font-size: 40px;
  }
  .about__inner-img img {
    max-width: 99%;
    height: auto;
  }
}

@media (max-width: 571px) {
  .about__btn {
    padding: 20px 38px;
      }
  .intro__title {
    font-size: 40px;
  }
  .title {
    font-size: 28px;
  }

  .title-small {
    font-size: 20px;
  }

  .img-big {
    max-height: 320px;
    width: auto;
    
  }
  .img-small {
    max-height: 262px;
    width: auto;
    
  }
  
}
@media (max-width: 559px){
  .contact__forms {
   
    display: flex;
    /* flex-wrap: nowrap; */
    /* align-items: center;
    justify-content: center; */
    
  }
  .form {
  display: flex;
  flex-direction: column;
    margin-bottom: 90px;
  }
  .name {
    margin-left: 0;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .phone {
    margin-left: 0;
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

@media (max-width: 555px) {
  
  .footer__inner {
       
    display: flex;
    justify-content: canter;
    padding: 7px 0 7px 0;
    position: relative;
  }

 /* .footer__logo{
margin: 0 auto 0 0;
 } */
 /* .footer__text{
   margin-top: 20px;
   
 } */
 /* .footer__link{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: 0;
  
          transform: translateY(-50%);
  
 } */
 
}
@media (max-width: 508px) {
  .img-big {
    max-height: 300px;
    width: auto;
    
  }
  .img-small {
    max-height: 246px;
    width: auto;
    
  }
  .textarea{
    font-size: 12px;
  }
  .submit__title{
   
  font-size: 25px;
  line-height: 34px;
  
    
  }
}

@media (max-width: 482px) {
  
    .intro {
      padding-top: 230px;
      
    }
  
  .intro__title {
    font-size: 36px;
  }
  .title {
    font-size: 25px;
  }

  .title-small {
    font-size: 18px;
  }
  .text {
    font-size: 14px;
  }
  .about__inner-img img {
    height: 360px;
    width: auto;
  }
  .project__title {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 80px;
    width: 90%;
  }
  .img-big {
    max-height: 270px;
    width: auto;
   
  }
  .img-small {
    max-height: 220px;
    width: auto;
    
  }

  .contact__title {
    padding-top: 80px;
    margin-bottom: 65px;
  }
  .contact__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 90px;
  }
  .name {
    margin-right: 0px;
  }

  input.name::-webkit-input-placeholder {
    color: rgba(97, 95, 95, 0.5);
  }

  input.name::-moz-placeholder {
    color: rgba(97, 95, 95, 0.5);
  }

  input.name:-ms-input-placeholder {
    color: rgba(97, 95, 95, 0.5);
  }

  input.name::-ms-input-placeholder {
    color: rgba(97, 95, 95, 0.5);
  }

  input.name::placeholder {
    color: rgba(97, 95, 95, 0.5);
  }

  .phone {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .submit {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    display: inline-block;
    padding: 17px 30px;
    border: none;
    background: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .submit:hover {
    background: #000;
    color: #ffc32d;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .our-contacts__item-circle {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: #f6f6f6;
    margin: 0 auto;
    margin-bottom: 13px;
  }
  .our-contacts__item-img {
    position: absolute;
    margin: 0 auto;
    
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
}
.our-contacts__item-img img {
  width: 40px;
  height: 40px;
}
}
@media (max-width: 454px) {
  .header__link {
    font-size: 20px;
}
  .advantages__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    padding: 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    max-width: 400px;

    position: relative;

    margin: 0 auto;
    margin-right: 0px;
    margin-bottom: 60px;
  }

  .advantages__item-title {
    margin-bottom: 12px;
    text-align: center;
  }

  .advantages__item-circle {
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .advantages__img {
    left: 50%;
    top: 25px;
    -webkit-transform: translateX(-59%);
        -ms-transform: translateX(-59%);
            transform: translateX(-59%);
  }

  .advantages__item-block {
    max-width: 400px;
    /* width: 100%; */
    padding-left: 5px;
  }
  .advantages__item-text {
    text-align: center;
  }
  
}

@media (max-width: 440px) {
  .title{
    font-size: 23px;
  }
  .contact__title {
    width: 95%;
    font-size: 23px;
    padding-top: 80px;
    margin-bottom: 65px;
  }
  .submit__title{
    font-size: 23px;
    line-height: 24px;
    padding: 80px 10px 30px 10px;
    
  }
  .project__title {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 90%;
  }
  .img-big {
    max-height: 240px;
    width: auto;
    
  }
  .img-small {
    max-height: 195px;
    width: auto;
    
  }
  .footer__social img{
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 433px){
.about__btn {
  
  padding: 20px 18px;
  
  
}

}

@media (max-width: 429px){
  .about__text{
    text-align: left;
  }
  .work__item{
    margin-bottom: 50px;
  }
  .work__item-text {
   text-align: left;
  }
  .accordion__text {
    text-align: left;
    
  }
  .our-contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1, 1;
        -ms-flex-positive: 1, 1;
            flex-grow: 1, 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .our-contacts__item {
   width: 150px;
    margin-bottom: 60px;
  }
  .our-contacts__item-title {
    margin-bottom: 10px;
  }
  .our-contacts__item-text{
    width: 90%;
  }
  .our-contacts__item-circle {
    
    margin-bottom: 13px;
  }
  .policy__window-title{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;

    margin: 0 auto;
   /*  width: 80%; */
    
  }
}
@media (max-width: 414px){
  .title{
    font-size: 20px;
  }
  .title-small{
    font-size: 15px;
  }
  .about__btn {
    
    padding: 20px 15px;
    
    
  }
  .contact__policy-text{
    font-size: 12px;
  }
  .contact__policy-link{
    font-size: 12px;
  }

  }
  

  @media (max-width: 390px){
    .about__btn {
      line-height: 20px;
      padding: 20px 15px;
      margin: 0 30px;
      
    }
    .work__item {
      margin: 0 auto;
      margin-right: 20px;
      margin-bottom: 50px;
      
    }
    .work__item-title {
      margin-bottom: 7px;
    }
    }
@media (max-width: 380px) {
  
  .img-big {
    max-height: 210px;
    width: auto;
    
  }
  .img-small {
    max-height: 170px;
    width: auto;
    
  }

  .work__title {
    text-align: center;
    margin-bottom: 60px;
    position: relative;
  }

  .work__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1, 2;
        -ms-flex-positive: 1, 2;
            flex-grow: 1, 2;
    padding: 0 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  
  .work__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            
margin-bottom: 20px;
    margin-right: 0px;
  }
  .work__item-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }

  .work__item:last-child {
    margin-right: 0;
  }
  .work__item-circle {
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    
    margin: 0 auto;
    
    margin-bottom: 15px;
  }
  .work__item-img {
    position: absolute;
    margin: 0 auto;
    top: 27px;
    left: 50%;
    z-index: 3;
  }
  .work__item-img img{
    width: 50px;
    height: 50px;
    
  }
  .work__item-title {
    text-align: center;
    width: 100%;
    margin-bottom: 12px;
  }

  .work__item-text {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
  }
  

  
  .our-contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1, 1;
        -ms-flex-positive: 1, 1;
            flex-grow: 1, 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .our-contacts__item {
   width: 140px;
    margin-bottom: 60px;
  }
  .our-contacts__item:last-child {
    margin-right: 10px;
  }
  
}


@media (max-width: 350px) {
  
  .our-contacts__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1, 1;
        -ms-flex-positive: 1, 1;
            flex-grow: 1, 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .our-contacts__item {
   width: 130px;
   margin: 0;
    margin-bottom: 60px;
  }
  .our-contacts__item:last-child {
    margin-right: 0px;
  }
  .our-contacts__item-circle {
    
    margin-bottom: 15px;
  }
  
  .our-contacts__item-title {
    margin-bottom: 10px;
  }
  
}

@media (max-width: 330px){
  .about__btn {
    line-height: 20px;
    padding: 20px 15px;
    margin: 0 20px;
    
  }
  }

  @media (max-width: 327px){
    .gallery{
      overflow: hidden !important;
      margin: 3px 3px;
          }
    
     .img-big {
      max-height: 206px;
      width: auto;
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
     
    }
    .img-big:hover{
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
    }
   
    }
  



